<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

    <div class="header">
        <button type="button" class="clr"  data-bs-target="#example"><i class="bi bi-arrow-left-short"></i>Backward</button>&nbsp;&nbsp;
        <button type="button" class="clr"><i class="bi bi-arrow-right-short"></i>Forward</button>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/wp2697674-laptop-backgrounds-tumblr.jpg" class="d-block w-100"  data-bs-interval="100" alt="first">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/wp4021674-plant-wallpapers.jpg" class="d-block w-100"  data-bs-interval="100" alt="second">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/wp4288379-aesthetic-laptop-wallpapers.jpg" class="d-block w-100"  data-bs-interval="100" alt="third">
            </div>



            <div class="carousel-inner container cent text-center " id="example">
                <div class="center">
                    <form action="https://formspree.io/f/mnqrnqgv" method="post">
                        <label for="num" id="reg">ID:</label><br>
                        <input type="text" name="Reg No:" required><br>

                        <label for="first" id="name">Name:</label><br>
                        <input type="text" name="Name:" required><br>
                
                        <label for="age" id="agee">Age:</label><br>
                        <input type="number" name="Age:" required><br>

                        <label for="clg" id="clgg">College</label><br>
                        <input type="text" name="College:" required><br>

                        <label for="percent" id="per">Percentage</label><br>
                        <input type="text" name="Percentage:" required><br>
                
                        <label for="email" id="Email">Email:</label><br>
                        <input type="email" name="Email:" id="Email" required><br><br>

                        <button type="submit" value="Submit">Submit</button> &nbsp; &nbsp;
                        <button type="reset" value="Reset">Reset</button>
                    </form>

                </div>
                </div>

                <div class="centerr">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
                </div>
                </div>


</body>

</html>